.right-panel {
  & .right-panel-subtext {
    list-style-type: none;
    padding: 0;

    & li {
      font-size: 21px;
      font-family: Arial, sans-serif;
      color: var(--ct-text-light);
      padding: 8px 0;
      border-bottom: 1px solid var(--ct-border-color);
    }
  }
}

