<div class="container mt-5">
  <h1 class="text-center mb-4">CTLMS Designs</h1>
  <table class="table table-bordered table-hover text-center">
    <thead class="table-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Design</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-content">View</button></td>
      </tr>
      <tr>
        <td>Lesson Plan</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-lessonplan">View</button></td>
      </tr>
      <tr>
        <td>Shapes Assessment</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-shapes-assessment">View</button></td>
      </tr>
      <tr>
        <td>Shapes Notes</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-shapes-notes">View</button></td>
      </tr>
    </tbody>
  </table>
</div>
