<div class="container mt-5">
  <h1 class="text-center mb-4">CTLMS Designs</h1>
  <table class="table table-bordered table-hover text-center">
    <thead class="table-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Design</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-content">View</button></td>
      </tr>
      <tr>
        <td>Lesson Plan</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-lessonplan">View</button></td>
      </tr>
      <tr>
        <td>Shapes Assessment</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-shapes-assessment">View</button></td>
      </tr>
      <tr>
        <td>Shapes Notes</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-shapes-notes">View</button></td>
      </tr>
      <tr>
        <td>Ch2 Notes</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-ch2-notes">View</button></td>
      </tr>
      <tr>
        <td>Ch2 Worksheet</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-ch2-worksheet">View</button></td>
      </tr>
      <tr>
        <td>Ch3 Notes</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-ch3-notes">View</button></td>
      </tr>
      <tr>
        <td>Shapes Notes1</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-shapes-notes1">View</button></td>
      </tr>
      <tr>
        <td>Shapes Notes2</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-shapes-notes2">View</button></td>
      </tr>
      <tr>
        <td>Shapes Worksheet</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-shapes-worksheet">View</button></td>
      </tr>
      <tr>
        <td>Ch4 Lessonplan</td>
        <td><button class="btn btn-primary w-100 text-uppercase" routerLink="/ctlms-ch4-lessonplan">View</button></td>
      </tr>
    </tbody>
  </table>
</div>
